<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MARC Remediation Reports</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            .message-box { padding: 12px; }
            .content { margin-top: 20px }
            small { font-size:smaller }
        </style>
        
    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 content">
                    {% if page == "index" %}
                    <h1>MARC Remediation Reports</h1>
                    <p>Here is some page content.</p>
                    
                    {% if bibs|length > 0 %}
                    
                        {% include 'pagination.html' %}
                        
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th style="width:120px;">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in bibs %}
                            <tr>
                                <td><a href="{{url_for('page_bib', bib=row[0])}}" class="alert-link">{{row[0]}}</a></td>
                                <td>{{row[1]}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    {% endif %}
                    
                    {% elif page == "bib" %}
                    <h1>Report for <a href="https://search.lib.virginia.edu/sources/uva_library/items/{{bib}}" target="_blank">{{bib}}</a></h1>
                    
                        {% if rows|length > 0 %}                    
                            {% for row in rows %}
                            <div class="message-box alert alert-{{'danger' if row[2] == 'error' else row[2]}}">
                                <a href="{{url_for('page_message', message=row[0])}}" class="alert-link">{{row[1]}}</a>
                            </div>
                            {%endfor%}
                        {% else %}
                            <p>No reported validation errors for this record.</p>
                        {% endif %}
                    
                    {% elif page == "messages" %}
                        <h1>Messages</h1>
                        <p>Below is a list of messages and their assigned color, red for error and yellow for warning. Addressing errors is a higher priority.</p>
                        {% if rows|length > 0 %}                    
                            {% for row in rows %}
                            <div class="message-box alert alert-{{'danger' if row[2] == 'error' else row[2]}}">
                                <a href="{{url_for('page_message', message=row[0])}}" class="alert-link">{{row[1]}}</a>
                                <span>Count: {{row[3]}}</span>
                            </div>
                            {%endfor%}
                        {% else %}
                            <p>There are no errors or warnings in the messages table. Ensure the SQLite database is not empty.</p>
                        {% endif %}                    
                    {% elif page == "message" %}
                        <div class="alert alert-{{'danger' if message[2] == 'error' else message[2]}} d-flex align-items-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <h2>Report for "{{ message[1] }}"</h2>
                        </div>
                    
                        {% if bibs|length > 0 %}
                        
                            {% include 'pagination.html' %}
                        
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th style="width:120px;">Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in bibs %}
                                    <tr>
                                        <td><a href="{{url_for('page_bib', bib=row[0])}}" class="alert-link">{{row[0]}}</a></td>
                                        <td>{{row[1]}}</td>
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            
                        {% else %}
                            <p>No reported bibliographic records with this error.</p>
                        {% endif %}
                        
                    {% else %}
                    <h1>Not a page</h1>
                    {% endif %}
                </div>
            </div>
        </div>
       
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>